:root {
    --fgColor: #222;
    --accentFgColor: #999;
    --bgColor: #f7f7f7;
    --wrapperBgColor: white;
}

/* cyrillic-ext */
@font-face {
    font-family: 'Fira Sans Condensed';
    font-display: fallback;
    font-style: italic;
    font-weight: 400;
    src: local('Fira Sans Condensed Italic'), local('FiraSansCondensed-Italic'), url(https://fonts.gstatic.com/s/firasanscondensed/v2/wEOjEADFm8hSaQTFG18FErVhsC9x-tarUfPdouNRXRxSjbcu.woff2) format('woff2');
    unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}

/* cyrillic */
@font-face {
    font-family: 'Fira Sans Condensed';
    font-display: fallback;
    font-style: italic;
    font-weight: 400;
    src: local('Fira Sans Condensed Italic'), local('FiraSansCondensed-Italic'), url(https://fonts.gstatic.com/s/firasanscondensed/v2/wEOjEADFm8hSaQTFG18FErVhsC9x-tarUfPdq-NRXRxSjbcu.woff2) format('woff2');
    unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}

/* greek-ext */
@font-face {
    font-family: 'Fira Sans Condensed';
    font-display: fallback;
    font-style: italic;
    font-weight: 400;
    src: local('Fira Sans Condensed Italic'), local('FiraSansCondensed-Italic'), url(https://fonts.gstatic.com/s/firasanscondensed/v2/wEOjEADFm8hSaQTFG18FErVhsC9x-tarUfPdo-NRXRxSjbcu.woff2) format('woff2');
    unicode-range: U+1F00-1FFF;
}

/* greek */
@font-face {
    font-family: 'Fira Sans Condensed';
    font-display: fallback;
    font-style: italic;
    font-weight: 400;
    src: local('Fira Sans Condensed Italic'), local('FiraSansCondensed-Italic'), url(https://fonts.gstatic.com/s/firasanscondensed/v2/wEOjEADFm8hSaQTFG18FErVhsC9x-tarUfPdrONRXRxSjbcu.woff2) format('woff2');
    unicode-range: U+0370-03FF;
}

/* latin-ext */
@font-face {
    font-family: 'Fira Sans Condensed';
    font-display: fallback;
    font-style: italic;
    font-weight: 400;
    src: local('Fira Sans Condensed Italic'), local('FiraSansCondensed-Italic'), url(https://fonts.gstatic.com/s/firasanscondensed/v2/wEOjEADFm8hSaQTFG18FErVhsC9x-tarUfPdoeNRXRxSjbcu.woff2) format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */
@font-face {
    font-family: 'Fira Sans Condensed';
    font-display: fallback;
    font-style: italic;
    font-weight: 400;
    src: local('Fira Sans Condensed Italic'), local('FiraSansCondensed-Italic'), url(https://fonts.gstatic.com/s/firasanscondensed/v2/wEOjEADFm8hSaQTFG18FErVhsC9x-tarUfPdr-NRXRxSjQ.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* cyrillic-ext */
@font-face {
    font-family: 'Fira Sans Condensed';
    font-display: fallback;
    font-style: italic;
    font-weight: 500;
    src: local('Fira Sans Condensed Medium Italic'), local('FiraSansCondensed-MediumItalic'), url(https://fonts.gstatic.com/s/firasanscondensed/v2/wEOuEADFm8hSaQTFG18FErVhsC9x-tarUfPVXMBEfT5fp40nEYfW.woff2) format('woff2');
    unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}

/* cyrillic */
@font-face {
    font-family: 'Fira Sans Condensed';
    font-display: fallback;
    font-style: italic;
    font-weight: 500;
    src: local('Fira Sans Condensed Medium Italic'), local('FiraSansCondensed-MediumItalic'), url(https://fonts.gstatic.com/s/firasanscondensed/v2/wEOuEADFm8hSaQTFG18FErVhsC9x-tarUfPVXMBEdD5fp40nEYfW.woff2) format('woff2');
    unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}

/* greek-ext */
@font-face {
    font-family: 'Fira Sans Condensed';
    font-display: fallback;
    font-style: italic;
    font-weight: 500;
    src: local('Fira Sans Condensed Medium Italic'), local('FiraSansCondensed-MediumItalic'), url(https://fonts.gstatic.com/s/firasanscondensed/v2/wEOuEADFm8hSaQTFG18FErVhsC9x-tarUfPVXMBEfD5fp40nEYfW.woff2) format('woff2');
    unicode-range: U+1F00-1FFF;
}

/* greek */
@font-face {
    font-family: 'Fira Sans Condensed';
    font-display: fallback;
    font-style: italic;
    font-weight: 500;
    src: local('Fira Sans Condensed Medium Italic'), local('FiraSansCondensed-MediumItalic'), url(https://fonts.gstatic.com/s/firasanscondensed/v2/wEOuEADFm8hSaQTFG18FErVhsC9x-tarUfPVXMBEcz5fp40nEYfW.woff2) format('woff2');
    unicode-range: U+0370-03FF;
}

/* latin-ext */
@font-face {
    font-family: 'Fira Sans Condensed';
    font-display: fallback;
    font-style: italic;
    font-weight: 500;
    src: local('Fira Sans Condensed Medium Italic'), local('FiraSansCondensed-MediumItalic'), url(https://fonts.gstatic.com/s/firasanscondensed/v2/wEOuEADFm8hSaQTFG18FErVhsC9x-tarUfPVXMBEfj5fp40nEYfW.woff2) format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */
@font-face {
    font-family: 'Fira Sans Condensed';
    font-display: fallback;
    font-style: italic;
    font-weight: 500;
    src: local('Fira Sans Condensed Medium Italic'), local('FiraSansCondensed-MediumItalic'), url(https://fonts.gstatic.com/s/firasanscondensed/v2/wEOuEADFm8hSaQTFG18FErVhsC9x-tarUfPVXMBEcD5fp40nEQ.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* cyrillic-ext */
@font-face {
    font-family: 'Fira Sans Condensed';
    font-display: fallback;
    font-style: normal;
    font-weight: 400;
    src: local('Fira Sans Condensed Regular'), local('FiraSansCondensed-Regular'), url(https://fonts.gstatic.com/s/firasanscondensed/v2/wEOhEADFm8hSaQTFG18FErVhsC9x-tarUfvtrelWfx5ijA.woff2) format('woff2');
    unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}

/* cyrillic */
@font-face {
    font-family: 'Fira Sans Condensed';
    font-display: fallback;
    font-style: normal;
    font-weight: 400;
    src: local('Fira Sans Condensed Regular'), local('FiraSansCondensed-Regular'), url(https://fonts.gstatic.com/s/firasanscondensed/v2/wEOhEADFm8hSaQTFG18FErVhsC9x-tarUfLtrelWfx5ijA.woff2) format('woff2');
    unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}

/* greek-ext */
@font-face {
    font-family: 'Fira Sans Condensed';
    font-display: fallback;
    font-style: normal;
    font-weight: 400;
    src: local('Fira Sans Condensed Regular'), local('FiraSansCondensed-Regular'), url(https://fonts.gstatic.com/s/firasanscondensed/v2/wEOhEADFm8hSaQTFG18FErVhsC9x-tarUfrtrelWfx5ijA.woff2) format('woff2');
    unicode-range: U+1F00-1FFF;
}

/* greek */
@font-face {
    font-family: 'Fira Sans Condensed';
    font-display: fallback;
    font-style: normal;
    font-weight: 400;
    src: local('Fira Sans Condensed Regular'), local('FiraSansCondensed-Regular'), url(https://fonts.gstatic.com/s/firasanscondensed/v2/wEOhEADFm8hSaQTFG18FErVhsC9x-tarUfXtrelWfx5ijA.woff2) format('woff2');
    unicode-range: U+0370-03FF;
}

/* latin-ext */
@font-face {
    font-family: 'Fira Sans Condensed';
    font-display: fallback;
    font-style: normal;
    font-weight: 400;
    src: local('Fira Sans Condensed Regular'), local('FiraSansCondensed-Regular'), url(https://fonts.gstatic.com/s/firasanscondensed/v2/wEOhEADFm8hSaQTFG18FErVhsC9x-tarUfjtrelWfx5ijA.woff2) format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */
@font-face {
    font-family: 'Fira Sans Condensed';
    font-display: fallback;
    font-style: normal;
    font-weight: 400;
    src: local('Fira Sans Condensed Regular'), local('FiraSansCondensed-Regular'), url(https://fonts.gstatic.com/s/firasanscondensed/v2/wEOhEADFm8hSaQTFG18FErVhsC9x-tarUfbtrelWfx4.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* cyrillic-ext */
@font-face {
    font-family: 'Fira Sans Condensed';
    font-display: fallback;
    font-style: normal;
    font-weight: 500;
    src: local('Fira Sans Condensed Medium'), local('FiraSansCondensed-Medium'), url(https://fonts.gstatic.com/s/firasanscondensed/v2/wEOsEADFm8hSaQTFG18FErVhsC9x-tarWQXOuMl0cjRYhY8XEA.woff2) format('woff2');
    unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}

/* cyrillic */
@font-face {
    font-family: 'Fira Sans Condensed';
    font-display: fallback;
    font-style: normal;
    font-weight: 500;
    src: local('Fira Sans Condensed Medium'), local('FiraSansCondensed-Medium'), url(https://fonts.gstatic.com/s/firasanscondensed/v2/wEOsEADFm8hSaQTFG18FErVhsC9x-tarWQXOuMB0cjRYhY8XEA.woff2) format('woff2');
    unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}

/* greek-ext */
@font-face {
    font-family: 'Fira Sans Condensed';
    font-display: fallback;
    font-style: normal;
    font-weight: 500;
    src: local('Fira Sans Condensed Medium'), local('FiraSansCondensed-Medium'), url(https://fonts.gstatic.com/s/firasanscondensed/v2/wEOsEADFm8hSaQTFG18FErVhsC9x-tarWQXOuMh0cjRYhY8XEA.woff2) format('woff2');
    unicode-range: U+1F00-1FFF;
}

/* greek */
@font-face {
    font-family: 'Fira Sans Condensed';
    font-display: fallback;
    font-style: normal;
    font-weight: 500;
    src: local('Fira Sans Condensed Medium'), local('FiraSansCondensed-Medium'), url(https://fonts.gstatic.com/s/firasanscondensed/v2/wEOsEADFm8hSaQTFG18FErVhsC9x-tarWQXOuMd0cjRYhY8XEA.woff2) format('woff2');
    unicode-range: U+0370-03FF;
}

/* latin-ext */
@font-face {
    font-family: 'Fira Sans Condensed';
    font-display: fallback;
    font-style: normal;
    font-weight: 500;
    src: local('Fira Sans Condensed Medium'), local('FiraSansCondensed-Medium'), url(https://fonts.gstatic.com/s/firasanscondensed/v2/wEOsEADFm8hSaQTFG18FErVhsC9x-tarWQXOuMp0cjRYhY8XEA.woff2) format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */
@font-face {
    font-family: 'Fira Sans Condensed';
    font-display: fallback;
    font-style: normal;
    font-weight: 500;
    src: local('Fira Sans Condensed Medium'), local('FiraSansCondensed-Medium'), url(https://fonts.gstatic.com/s/firasanscondensed/v2/wEOsEADFm8hSaQTFG18FErVhsC9x-tarWQXOuMR0cjRYhY8.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/** reset **/
* {
    all: unset;
}

* {
    line-height: 1.5em;
    box-sizing: border-box;
    font-family: 'Fira Sans Condensed', sans-serif;
    color: var(--fgColor);
}

head, script {
    display: none;
}

footer, header, div, h1, h2, h3, h4, h5, h6, p, iframe {
    display: block;
}

a {
    text-decoration: underline;
    cursor: pointer;
}

body {
    background: var(--bgColor);
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

small, sub, sup {
    font-size: 75%;
}

sub {
    vertical-align: -0.75em;
}

sup {
    vertical-align: 0.75em;
}

h1, h2, h3, h4, h5, h6, strong, b {
    font-weight: 500;
}

h1 {
    font-size: 1.4em;
    margin: 2.5em 0 0.5em 0;
}

h2 {
    font-size: 1.3em;
    margin: 2em 0 0.5em 0;
}

h3 {
    font-size: 1.2em;
    margin: 1.5em 0 0.5em 0;
}

h4 {
    font-size: 1.1em;
    margin: 1em 0 0.5em 0;
}

h5, h6 {
    margin: 0.5em 0;
}

i, em {
    font-style: italic;
}

img {
    max-width: 100%;
}

pre > code,
blockquote {
    display: block;
    border-left: 2px solid;
    padding: 1em 2em;
    margin-bottom: 1em;
    overflow-x: auto;
    background: var(--bgColor);
}

code {
    padding: 0.25em 0.5em;
    vertical-align: middle;
    background: var(--bgColor);
    font-family: monospace;
    white-space: pre;
}

.container {
    max-width: 860px;
    margin: 0 auto;
}

.primary-wrapper {
    padding: 2em;
    background: var(--wrapperBgColor);
}

@media screen and (max-width: 630px) {
    .primary-wrapper {
        padding: 2em 1em;
    }
}

.header {
    padding: 2em 1em;
}

.header__home-link {
    text-decoration: none;
    margin-right: 0.5em;
}

a:hover, a:hover > *,
a:focus, a:focus > *,
a:active, a:active > *,
.header__description {
    color: var(--accentFgColor);
}

iframe {
    width: 100%;
    height: 415px;
}

.header__title,
.post__title,
.post-comments__title {
    margin: 0;
}

.post--feed {
    margin-bottom: 2em;
}

.post--feed:last-of-type {
    margin-bottom: 0;
}

.post__title-wrapper {
    display: flex;
}

.post__date {
    padding-top: 0.7em;
    margin-left: auto;
}

.post__content > p:last-child,
.post__content > blockquote > p:last-child {
    margin-bottom: 0;
}

.post blockquote,
.post cite {
    max-width: 600px;
    background: var(--bgColor);
}

.post cite {
    display: block;
    text-align: right;
    margin-top: -0.5em;
}

.post__preview {
    margin: 1em 0;
}

.post__preview--feed {
    margin-bottom: 0;
}

.post__comments {
    margin-top: 2em;
}

.post__content > p {
    margin-bottom: 1em;
}

.post .content ul,
.post .content ol {
    margin-bottom: 1em;
    padding-left: 1em;
}

.post .content ul {
    list-style: circle;
}

.post .content ol {
    list-style: decimal;
}

.post .content ul li,
.post .content ol li {
    padding-left: 0.25em;
    margin-bottom: 0.25em;
}

.pagination {
    text-align: center;
    padding: 2em 1em 1em 1em;
}

.pagination__link-wrapper {
    min-width: 2em;
    display: inline-block;
}

.pagination__link {
    text-decoration: none;
}

[class^="gallery-"] {
    display: block;
    margin: 0 -0.25em;
}

[class^="gallery-"]::after {
    display: block;
    content: '';
    clear: both;
}

[class^="gallery-"] > a,
[class^="gallery-"] > img {
    display: block;
    float: left;
    padding: 0.25em;
}

[class^="gallery-"] a img {
    width: 100%;
}

.gallery-4 > a,
.gallery-4 > img {
    width: 25%;
}

.gallery-2 > a,
.gallery-2 > img {
    width: 50%;
}

.gallery-1 a,
.gallery-1 img {
    width: 100%;
}

.footer {
    padding: 1em 1em 2em 1em;
}

.footer__links > a {
    margin-left: 1em;
}
